<div ba-panel ba-panel-class="with-scroll" ba-panel-title="{{Title}}">
    <div class="panel-content">
        <div class="form-horizontal" style="text-align: center !important; ">

            <!-- <div class="form-group">
                <div class="col-sm-2" style="text-align: right;">
                    <label for="inputFullName" class="control-label">Họ Tên</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="inputFullName" id="inputFullName" placeholder="Họ tên">
                </div>
                <div class="col-sm-2" style="text-align: right;">
                    <label for="inputDateOfBirth" class="control-label">Năm sinh</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="inputDateOfBirth" id="inputDateOfBirth" placeholder="Năm sinh">
                </div>
            </div> -->

            <div class="form-group"> 
                <div class="col-sm-1" style="text-align: right;">
                    <label for="inputNgayThang" class="control-label">Ngày họp</label>
                </div>
                <div class="col-sm-3" ng-controller="myPageCtrl">
                    <p class="input-group">
                        <input
                        ng-locale="vi"
                          type="text"
                          class="form-control"
                          uib-datepicker-popup="dd/MMMM/yyyy"
                          datepicker-options="options"
                          is-open="opened"
                          ng-required="true"
                          close-text="close"
                          alt-input-formats="altInputFormats"
                          show-button-bar="false"
                          placeholder="01/01/2001"
                          type="button" class="btn btn-default" ng-click="open()"
                          id="inputNgayThang"
                          ng-model="inputNgayThang"
                        />
                        <span class="input-group-btn" >
                          <button  type="button" class="btn btn-default" ng-click="open()">
                            <i class="ion-ios-calendar"></i>
                          </button>
                        </span>
                      </p>
                </div>
                <div class="col-sm-1" style="text-align: right;">
                    <label for="inputTime" class="control-label">Giờ họp</label>
                </div>
                <div class="col-sm-1">
                    <select class="form-control" title="12:00" ng-model="inputGioBatDau" id="inputGioBatDau">
                        <option>07:00</option>
                        <option>08:00</option>
                        <option>09:00</option>
                        <option>10:00</option>
                        <option>11:00</option>
                        <option>12:00</option>
                        <option>13:00</option>
                        <option>14:00</option>
                        <option>15:00</option>
                        <option>16:00</option>
                        <option>17:00</option>
                        <option>18:00</option>
                        <option>19:00</option>
                        <option>20:00</option>
            </select>
                </div>
                <div class="col-sm-1">
                    <select class="form-control"title="12:00" ng-model="inputGioKetThuc" id="inputGioKetThuc">
                        <option>07:00</option>
                        <option>08:00</option>
                        <option>09:00</option>
                        <option>10:00</option>
                        <option>11:00</option>
                        <option>12:00</option>
                        <option>13:00</option>
                        <option>14:00</option>
                        <option>15:00</option>
                        <option>16:00</option>
                        <option>17:00</option>
                        <option>18:00</option>
                        <option>19:00</option>
                        <option>20:00</option>
            </select>
                </div>
                <div class="col-sm-1" style="text-align: right;">
                    <label for="inputRoom" class="control-label">Phòng</label>
                </div>
                <div class="col-sm-3" >
                    <select class="form-control"  ng-model="inputPhong" id="inputPhong" title="Chọn phòng họp">
                        <option>101</option>
                        <option>102</option>
                        <option>103</option>
                        <option>104</option>
            </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-1" style="text-align: right;">
                    <label for="inputContend" class="control-label">Chủ đề</label>
                </div>
                <div class="col-sm-10">
                    <select class="form-control"  ng-model="inputContend" id="inputContend"  title="Chọn chủ đề">
                        <option>Họp triển khai công việc</option>
                        <option>Họp giải quyết vấn đề</option>
                        <option>Họp lấy ý kiến, phiếu bầu</option>
                        <option>Họp triển khai công việc</option>
                        <option>Họp trao đổi thông tin</option>
                        <option>Họp mở rộng dân chủ</option>
            </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-1" style="text-align: right;">
                    <label for="inputBoss" class="control-label">Chủ trì</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="inputBoss" id="inputBoss" placeholder="Chủ trì">
                </div>
                <div class="col-sm-2" style="text-align: right;">
                    <label for="inputThuKy" class="control-label">Thư ký</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="inputThuKy" id="inputThuKy" placeholder="Thư ký">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-1" style="text-align: right;">
                    <label for="inputDonVi" class="control-label">Đơn vị</label>
                </div>
                <div class="col-sm-4">
                    <select class="form-control"  title="Chọn đơn vị" ng-model="inputDonVi" id="inputDonVi">
                        <option>VietInfo Corp</option>
                        <option>Creatory</option>
                        <option>VinGroup</option>
                        <option>Bitexco</option>
            </select>
                </div>
                <div class="col-sm-2" style="text-align: right;">
                    <label for="inputPhongBan" class="control-label">Phòng ban</label>
                </div>
                <div class="col-sm-4">
                    <select class="form-control" title="Chọn phòng ban" ng-model="inputPhongBan" id="inputPhongBan">
                        <option>Chủ tịch</option>
                        <option>Giám Đốc</option>
                        <option>Phòng nhân sự</option>
                        <option>Phòng IT</option>
            </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-1" style="text-align: right;">
                    <label for="inputAddress" class="control-label">Địa chỉ</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="inputAddress" id="inputAddress" placeholder="Địa chỉ">
                </div>
                <div class="col-sm-2" style="text-align: right;">
                    <label for="radioOptions" class="control-label">Tình trạng:</label>
                </div>
                <div class="col-xs-1" style="text-align: left !important;">
                    <label class="radio-inline custom-radio nowrap">
                      <input type="radio" name="checkBatBuoc" id="checkBatBuoc" value="option1" >
                      <span>Bắt buộc</span>
                    </label>
                  </div>
                  <div class="col-sm-1" style="text-align: left !important;">
                    <label class="radio-inline custom-radio nowrap">
                      <input type="radio" name="checkKoBatBuoc" id="checkKoBatBuoc" value="option2" >
                      <span>Không bắt buộc</span>
                    </label>
                  </div>
            </div>

            <div class="form-group">
                <div class="col-sm-1" style="text-align: right;" >
                    <label for="inputUpload" class="control-label">TL đính kèm</label>
                </div>
                <div class="col-sm-10" style="text-align: right;">
                
                <input type="file" class="form-control" [(ngModel)]="model.fileupload" id="inputUpload" >
            </div> 
            </div>

            <div class="form-group">
                <div class="col-sm-1" style="text-align: right;">
                    <label for="inputArea" class="control-label">Ghi chú</label>
                </div>
                <div class="col-sm-10">
                <textarea type="text" class="form-control" ng-model="inputArea" id="inputArea" placeholder="Nhập nội dung" ></textarea>
              </div>
              </div>


            <!--Form's button-->
            <div style="text-align: center !important;">
                <button type="button" ng-click="Save()" class="btn btn-success btn-with-icon save-profile">
                    <i class="ion-android-checkmark-circle"></i>Lưu
                </button>
                <button type="button" ng-disabled="IsDisabled" class="btn btn-danger btn-with-icon save-profile" ng-click="backPage()">
                    <i class="ion-reply"></i>Trở về
                </button>
            </div>
            <!--end of Form's button-->
        </div>
    </div>
    </div>
</div>


<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .center{
      width: 40%;
margin-left: 30%;
margin-right: 30%
    }
    .right{
      width: 40%;
margin-left: 0%;
margin-right: 100%
    }    
  </style>