<!-- Roll Pages -->
<!-- <div class="widgets"> -->
  <div ba-panel ba-panel-class="with-scroll" ba-panel-title="Tạo cuộc họp">
    <div ng-include="'app.pages/form/layouts/widgets/blockForm.html'"></div>
    <!--  -->
    <form>
    <div>
      <div class="row">
        <div class="col-sm-6">
          <label for="inputTtile">Chủ đề</label>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="inputNumberDocumentary"
              placeholder="Cuộc họp về..."
            />
          </div>
        </div>
    
        <div class="form-group">
          <div
            class="col-xlg-6 col-md-6 col-sm-6"
            ng-controller="datepickerpopupCtrl"
          >
          <label><b>Ngày họp</b></label>
            <p class="input-group">
              <input
                type="text"
                class="form-control"
                uib-datepicker-popup="dd/MM/yyyy"
                datepicker-options="options"
                ng-model="dt"
                is-open="opened"
                ng-required="true"
                close-text="close"
                alt-input-formats="altInputFormats"
                show-button-bar="false"
                placeholder="Nhập hoặc Chọn Ngày tạo cuộc họp"
              />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
        </div>
      </div>
      <!-- -->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputContent"><b>Nội dung cuộc họp</b></label>
            <input
              type="text"
              class="form-control"
              id="inputContentDocumentary"
              placeholder="Tóm tắt nội dung quan trọng"
            />
          </div>
        </div>
    
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputMaker"><b>Người tạo</b></label>
            <input
              type="text"
              class="form-control"
              id="inputWhoMakeDocumentary"
              placeholder="Tên người tạo cuộc họp"
            />
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputPTake"><b>Đơn vị nhận</b></label>
            <select class="form-control" title="Select with Divider" selectpicker>
                <option>Group 1 - Option 1</option>
                <option>Group 1 - Option 2</option>
                <option data-divider="true"></option>
                <option>Group 2 - Option 1</option>
                <option>Group 2 - Option 2</option>
            </select>
        </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputPTakeRoom"><b>Phòng ban</b></label>
          <select class="form-control" title="Select with Divider" selectpicker>
              <option>Group 1 - Option 1</option>
              <option>Group 1 - Option 2</option>
              <option data-divider="true"></option>
              <option>Group 2 - Option 1</option>
              <option>Group 2 - Option 2</option>
          </select>
      </div>
  </div>
    </div>
  


  <div class = "row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputAddress"><b>Địa Chỉ</b></label>
            <input
              type="text"
              class="form-control"
              id="inputAddressReciver"
              placeholder="Địa Chỉ Đơn Vị Nhận"
            />
          </div>
        </div>
      

        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputSignature"><b>Người kiểm duyệt</b></label>
            <input
              type="text"
              class="form-control"
              id="inputSignature"
              placeholder="Tên Người Kiểm Duyệt"
            />
          </div>
        </div>
    </div>
     
         <div class = "row">
          <div class="col-sm-6">
            <div class="form-group">
                <label for="fileupload"><b>Chọn tài liệu đính kèm</b></label>
                <input type="file" class="form-control" [(ngModel)]="model.fileupload">
            </div>
          </div>  
          <div class="form-group">
            <div
              class="col-sm-6"
              ng-controller="datepickerpopupCtrl"
            >
              <label><b>Ngày Duyệt</b></label>
              <p class="input-group">
                <input
                  type="text"
                  class="form-control"
                  uib-datepicker-popup="dd/MM/yyyy"
                  datepicker-options="options"
                  ng-model="dt"
                  is-open="opened"
                  ng-required="true"
                  close-text="close"
                  alt-input-formats="altInputFormats"
               r   show-button-bar="false"
                  placeholder="Nhập Ngày Duyệt"
                />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
            </div>
          </div>   
         </div>


      
  
    
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="inputNote"><b>Ghi chú</b></label>
            <textarea placeholder="Nhập..." class="form-control" id="inputNote"></textarea>
          </div>
          </div>
        </div>
        <div class="row">
          <div style="text-align:right;">
            <div   class="form-group" ng-controller="SwitchDemoPanelCtrl as vm">
                <ba-switcher  switcher-style="primary" switcher-value="vm.switches.s1"></ba-switcher >
            </div>
          </div>
          </div>
        </div>
        <div style="text-align:center;">
        <button type="submit" value="Reset" class="btn btn-success" >Nhập </button>
        
        <!-- <buttont type="reset" value="Reset" class="btn btn-default">Reset</buttont> -->
        <button class="btn btn-infor" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
       


      </div>
      </div>
    </div>
    </div>
  </div>
    </form>
  

      
    </div>
  <style>
    / Chrome, Safari, Edge, Opera /
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .center{
      width: 40%;
margin-left: 30%;
margin-right: 30%
    }
    .right{
      width: 40%;
margin-left: 0%;
margin-right: 100%
    }
    

    
  </style>