<!-- Roll Pages -->
<!-- <div class="widgets"> -->
  <div ba-panel ba-panel-class="with-scroll" ba-panel-title="">
    <div ng-include="'app.pages/form/layouts/widgets/blockForm.html'"></div>
    <!--  -->
    <form>
    <div>
      <div class="row">
              <div class="col-sm-3" ng-controller="OldSelectpickerPanelCtrl as selectpickerVm">
                <div class="form-group">
                  <label><b>Chủ đề cuộc họp</b></label>
                    <select class="form-control selectpicker" selectpicker title="Chọn chủ đề"
                            ng-model="selectpickerVm.standardSelected" required                        
                            ng-options="item as item.label for item in selectpickerVm.standardSelectItems"
                            id="inputTitle"
                            >
                    </select>
                </div>
          </div>
          <div class="col-sm-3" ng-controller="OldSelectpickerPanelCtrl as selectpickerVm">
            <div class="form-group">
              <label><b>Phòng</b></label>
                <select class="form-control selectpicker" selectpicker title="Chọn phòng họp"
                        ng-model="selectpickerVm.standardSelected" required
                        ng-options="item as item.label for item in selectpickerVm.phonghop"
                        id="inputRoom"
                        >
                </select>
            </div>
      </div>
   
        <div class="form-group">
          <div
            class="col-xlg-3 col-md-3 col-sm-3"
            ng-controller="datepickerpopupCtrl"
          >
          <label><b>Ngày họp</b></label>
            <p class="input-group">
              <input
               ng-locale="vi"
                type="text"
                id="inputDateMeet"
                class="form-control"
                uib-datepicker-popup="dd/MM/yyyy"
                datepicker-options="options"
                ng-model="dt"
                is-open="opened"
                ng-required="true"
                close-text="close"
                alt-input-formats="altInputFormats"
                show-button-bar="false"
                placeholder="01/01/2001" 
                type="button" class="btn btn-default" ng-click="open()"
                date-disabled="disabled(date, mode)"
              />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>


          <div
          class="col-md-1 "
          ng-controller="timepickerpopupCtrl"
        >
        <label><b>Bắt đầu</b></label>
          <p class="input-group">
            <input
              type="text"
              id="inputTimeBegin"
              class="form-control"
              uib-datepicker-popup="HH:MM"
              timepicker-desktopSettings="externalSettings"
              ng-model="dt"
              is-open="opened"
              ng-required="true"
              close-text="close"
              alt-input-formats="altInputFormats"
              show-button-bar="false"
              placeholder="12:00" 
              type="button" class="btn btn-default" ng-click="open()"
            />
          </p>
        </div>

        <div
          class="col-md-1 "
          ng-controller="timepickerpopupCtrl"
        >
        <label><b>Kết thúc</b></label>
          <p class="input-group">
            <input
              type="text"
              id="inputTimeClose"
              class="form-control"
              uib-datepicker-popup="HH:MM"
              timepicker-desktopSettings="externalSettings"
              ng-model="dt"
              is-open="opened"
              ng-required="true"
              close-text="close"
              alt-input-formats="altInputFormats"
              show-button-bar="false"
              placeholder="12:00" 
              type="button" class="btn btn-default" ng-click="open()"
            />
          </p>
        </div>
        </div>
<!-- đóng row -->
      </div>  
      

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputContent"><b>Nội dung cuộc họp</b></label>
            <input
              type="text"
              class="form-control"
              id="inputContent"
              placeholder="Tóm tắt nội dung quan trọng"
              data-required-message="Required field" required
              data-message-container="inputtitleError"
              minlength="10"
            />
          </div>
        </div>
    
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputMaker"><b>Người tạo</b></label>
            <input
              type="text"
              class="form-control"
              id=""
              placeholder="Tên người tạo cuộc họp"
              data-required-message="Required field" required
              data-message-container="inputtitleError"
              minlength="5"
            />
          </div>
        </div>
        <!-- đónh row -->
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputContent"><b>Chủ trì cuộc họp</b></label>
            <input
              type="text"
              class="form-control"
              id="inputBoss"
              placeholder="Họ tên chủ trì (ông/bà)"
              data-required-message="Required field" required
              data-message-container="inputtitleError"
              minlength="10"
            />
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputMaker"><b>Thư ký</b></label>
            <input
              type="text"
              class="form-control"
              id="inputSecretary"
              placeholder="Tên người tạo cuộc họp"
              data-required-message="Required field" required
              data-message-container="inputtitleError"
              minlength="5"
            />
          </div>
        </div>
        <!-- đóng row -->
      </div>


    <div class="row">
      <div class="col-sm-6" ng-controller="OldSelectpickerPanelCtrl as selectpickerVm">
        <div class="form-group">
          <label><b>Đơn vị</b></label>
            <select class="form-control selectpicker" selectpicker title="Chọn đơn vị"
                    ng-model="selectpickerVm.standardSelected"
                    placeholder="Chọn phòng họp" required
                    ng-options="item as item.label for item in selectpickerVm.donvi"
                    id="inputBrand"
                    >
            </select>
        </div>
  </div>

  <div class="col-sm-6" ng-controller="OldSelectpickerPanelCtrl as selectpickerVm">
    <div class="form-group">
      <label><b>Phòng ban</b></label>
        <select class="form-control selectpicker" selectpicker title="Chọn phòng ban"
                ng-model="selectpickerVm.standardSelected"
                placeholder="Chọn phòng họp" required
                ng-options="item as item.label for item in selectpickerVm.phongban"
                id="inputBrandRoom"
                >
        </select>
    </div>
</div>
<!-- đóng row -->
    </div>
  


  <div class = "row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputAddress"><b>Địa Chỉ</b></label>
            <input
              type="text"
              class="form-control"
              id="inputAddress"
              placeholder="Địa Chỉ Đơn Vị Nhận"
              data-required-message="Required field" required
              data-message-container="inputtitleError"
              minlength="5"
            />
          </div>
        </div>
      

        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputSignature"><b>Người kiểm duyệt</b></label>
            <input
              type="text"
              class="form-control"
              id="inputSignature"
              placeholder="Tên Người Kiểm Duyệt"
              data-required-message="Required field" required
              data-message-container="inputtitleError"
              minlength="5"
            />
          </div>
        </div>
        <!-- đóng row -->
    </div>
     
         <div class = "row">
          <div class="col-sm-6">
            <div class="form-group">
                <label for="fileupload"><b>Chọn tài liệu đính kèm</b></label>
                <input type="file" class="form-control" [(ngModel)]="model.fileupload" required >
            </div>
          </div>  
          <div class="form-group">
            <div
              class="col-sm-6"
              ng-controller="datepickerpopupCtrl"
            >
              <label><b>Ngày Duyệt</b></label>
              <p class="input-group">
                <input
                ng-locale="vi"
                  type="text"
                  class="form-control"
                  uib-datepicker-popup="dd/MM/yyyy"
                  datepicker-options="options"
                  ng-model="dt"
                  is-open="opened"
                  ng-required="true"
                  close-text="close"
                  alt-input-formats="altInputFormats"
               r   show-button-bar="false"
                  placeholder="01/01/2001"
                  type="button" class="btn btn-default" ng-click="open()"
                  id="inputDateDuyet"
                />
                <span class="input-group-btn" >
                  <button  type="button" class="btn btn-default" ng-click="open()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
            </div>
          </div>  
          <!-- đóng row  -->
         </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="inputNote"><b>Ghi chú</b></label>
            <textarea placeholder="Nhập..." class="form-control" id="inputNote"></textarea>
          </div>
          </div>
        </div>
        <div class="row">
          <div style="text-align:right;">
            <div   class="form-group" ng-controller="SwitchDemoPanelCtrl as vm">
                <ba-switcher  switcher-style="primary" switcher-value="vm.switches.s1"></ba-switcher >
            </div>
          </div>
          </div>
        
        <div style="text-align:center;">
        <button type="submit" class="btn btn-success" value="submit">Nhập </button>
        
       
        <button class="btn btn-default" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
        <button onclick="window.location.href = '#/search';" type="button" class="btn btn-danger"><i class="ion-arrow"></i> Trở về</button>
      </div>
    </div>

    
 
    </form>
  

      
    </div>
  <style>
    / Chrome, Safari, Edge, Opera /
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .center{
      width: 40%;
margin-left: 30%;
margin-right: 30%
    }
    .right{
      width: 40%;
margin-left: 0%;
margin-right: 100%
    }
    

    
  </style>

  