<div ba-panel ba-panel-class="with-scroll" ba-panel-title="{{Title}}">
    <div class="panel-content">
        <div class="form-horizontal" style="text-align: center !important; ">

            <div class="form-group">
                <div class="col-sm-2" style="text-align: right;">
                    <label for="inputFullName" class="control-label">Họ Tên</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="inputFullName" id="inputFullName" placeholder="Họ tên">
                </div>
                <div class="col-sm-2" style="text-align: right;">
                    <label for="inputDateOfBirth" class="control-label">Năm sinh</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="inputDateOfBirth" id="inputDateOfBirth" placeholder="Năm sinh">
                </div>
            </div>

            <!--Form's button-->
            <div style="text-align: center !important;">
                <button type="button" ng-click="Save()" class="btn btn-success btn-with-icon save-profile">
                    <i class="ion-android-checkmark-circle"></i>Lưu
                </button>
                <button type="button" ng-disabled="IsDisabled" class="btn btn-danger btn-with-icon save-profile" ng-click="backPage()">
                    <i class="ion-reply"></i>Trở về
                </button>
            </div>
            <!--end of Form's button-->
        </div>
    </div>
</div>